[Desktop Entry]
Type=Application
Version=1.0
Name=Rayko Bazzite Toolbox
GenericName=Outils Bazzite
Comment=Maintenance, diagnostics et jeux pour Bazzite
Exec=rayko-toolbox
Icon=rayko-toolbox
Terminal=false
Categories=System;
Keywords=Bazzite;KDE;NVIDIA;Steam;Proton;Flatpak;
StartupNotify=true
StartupWMClass=rayko-bazzite-toolbox
